<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <style>
        @@import url('https://fonts.googleapis.com/css?family=Dosis:500');
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" type="image/png" href="../Images/heart.png" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="custom-css-layout">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dirty Matches", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Sök", "Index", "Search")</li>
                    <li>@Html.ActionLink("Visa Profil", "Index", "UserProfile")</li>
                    <li id="setColor">@Html.ActionLink("Vänförfrågningar", "Index", "AnswerRequest", htmlAttributes: new {id= "numberOfRequests" })  </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="container col-lg-12">
            <p>&copy; @DateTime.Now.Year - Dirty Matches  </p>
        </footer>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="show">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Meddelande</h5>
                </div>
                <div class="modal-body">
                    <p id="message-id"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="close" class="btn btn-primary">Okej</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="remove">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ta Bort</h5>
                </div>
                <div class="modal-body">
                    <p id="warning-message" class="text-warning">Vill du verkligen ta bort posten?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="regret" class="btn btn-success">Ångra</button>
                    <button type="button" id="removePost" class="btn btn-danger">Ta Bort</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        
        $(document).ready(function () {

            $.get("/api/request/get",
                function (data) {
                    if (data.length > 0) {
                        $("#setColor").addClass("active");
                    }
                    var count = " " + data.length;
                    $("#numberOfRequests").append(count);
                    $("#numberOfRequests").attr("href", "/AnswerRequest"); 
                })
        })
    </script>

</body>
</html>
