@model DatingSida.Models.EditUserProfileViewModel


@{
    ViewBag.Title = "Ändra uppgifter";
}

<style>
    #TheButton {
        margin-left: 200px;
        margin-top: 10px;
    }
</style>

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("EditProfile", "UserProfile", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Ändra dina uppgifter</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "password3" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.newPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.newPassword, new { @class = "form-control", @id = "password1" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @id = "password2" })
        </div>
        <div class="PasswordButton">
            <input type="button" class="btn btn-default" id="TheButton" value="Ändra lösenord" />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Firstname, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Lastname, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(m => m.Gender, "Välj ditt kön", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">

            <input type="submit" class="btn btn-default" value="Spara" />
        </div>
    </div>

    <a href="~/Manage/ChangePassword">Klicka</a>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#password1').attr("disabled", "disabled");
            $('#password2').attr("disabled", "disabled");
            $('#password3').attr("disabled", "disabled");

            $('#TheButton').click(function () {
                $('#password1').removeAttr("disabled");
                $('#password2').removeAttr("disabled");
                $('#password3').removeAttr("disabled");
            });
        });
    </script>

}
