@model DatingSida.Models.UserProfileIndexViewModel
@{
    ViewBag.Title = "Mina vänner";
}
<h2>Hantera vänner</h2>

<div class="col-md-4">

    <form class="form-inline">
        <input type="text" id="create-category" class="form-control" placeholder="Lägg till en kategori..." />
        <button id="create-category-btn" class="btn btn-success">Spara</button>

    </form>
</div>
<div class="col-md-6">
 
    <ul class="list-group list-inline">
        @if (Model.Categories != null && Model.Categories.Count > 0)
        {
            foreach (var item in Model.Categories)
            {
                <li class="list-group-item">@Html.ActionLink(item.Name.ToUpper(), "FriendCategory", new { id = item.CategoryId }, htmlAttributes: new { @style = "color: black;" })</li>

            }

        }
    </ul>
</div>

<div class="container">
    <ul>
        @if (Model.Friends != null && Model.Friends.Count > 0)
        {
            foreach (var item in Model.Friends)
            {
                <li class="list-group-active col-md-10 center-block" style="border: 1px solid #000; border-radius: 5px; padding: 1%; margin-top: 1%; margin-bottom: 1%;">
                    <div class="col-md-4">
                        <h4 class="list-group-item-heading">
                            <img src="../@item.Image" style="width: 30%;" class="img-thumbnail" /><b class="col-md-offset-1">
                                @Html.ActionLink(item.UserName.ToUpper(), "ViewProfile", "Search", new { username = item.UserName }, htmlAttributes: new { @class = "btn btn-link", @style = "font-size: 150% !important;" })
                        </h4>
                    </div>
                    <div class="col-md-offset-2 col-md-4">
                        @if (Model.Categories != null && Model.Categories.Count > 0)
                        {

                            <select class="form-control" id="select-category" style="margin-top: 7%;">
                                <option value="" class="form-group">Lägg till en kategori...</option>
                                @foreach (var i in Model.Categories)
                                {
                                    <option class="form-group" value="@i.CategoryId">@i.Name</option>
                                }

                            </select>
                            <button value="@item.Id" class="btn btn-block btn-primary" id="save-in-category" style="margin-top: 2%;">Spara</button>
                        }
                    </div>
                </li>
            }

        }
    </ul>
</div>

@section Scripts{
    <script>
        $("#create-category-btn").on("click", function () {
            var text = $("#create-category").val();
            if (text.length > 0) {
                $.ajax({
                    url: "/api/category/add",
                    type: "Post",
                    data: JSON.stringify([text]),
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        
                        location.reload();
                    },
                    error: function () {
                        $("#show").show();
                        $("#message-id").append("Något har gått fel")
                    }
                })

            } else {
                $("#show").show();
                $("#message-id").append("Du kan inte lägga till en tom kategori!")
            }
        });
        $("#close").on("click", function () {
            $("#show").hide();
            location.reload();
        })

        $("#save-in-category").on("click", function (e) {
            var userId = e.target.getAttribute("value");
            var categoryId = $("#select-category").val();

            if (categoryId.length > 0) {
                $.ajax({
                    url: "/api/category/addfriend",
                    type: "Post",
                    data: JSON.stringify([userId, categoryId]),
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        $("#show").show();
                        $("#message-id").append("Din vän har sparats i kategorin!")
                    },
                    error: function () {
                        $("#show").show();
                        $("#message-id").append("Något har gått fel")
                    }
                })

            } else {
                $("#show").show();
                $("#message-id").append("Du måste välja en kategori att lägga till!")
            }
        });

    </script>

}



