@model DatingSida.Models.UserProfileIndexViewModel
@{
    ViewBag.Title = "Mina vänner";
}

<h2>Hantera vänner</h2>

<div class="container">


    @if (Model.FriendsReceived != null && Model.FriendsReceived.Count > 0)
    {
        foreach (var item in Model.FriendsReceived)
        {
            <div class="list-group-active col-md-10 center-block"  id="test" style="border: 1px solid #000; border-radius: 5px; padding: 2%; margin-top: 2%; margin-bottom: 2%;">
                <h4 class="list-group-item-heading"> <img src="../@item.FriendRequest.Image" style="width: 5%;" /><b>@Html.ActionLink(item.FriendRequest.UserName.ToUpper(), "ViewProfile", "Search", new { username = item.FriendRequest.UserName }, htmlAttributes: new { @class = "btn btn-link" })</b></h4>
                <h6 class="list-group-item-heading">@item.FriendRequest.Firstname.ToUpper() @item.FriendRequest.Lastname.ToUpper() </h6>

            </div>
        }

    }
    @if (Model.FriendsRequested != null && Model.FriendsRequested.Count > 0)
    {
        foreach (var item in Model.FriendsRequested)
        {
            <div class="list-group-active col-md-10 center-block" style="border: 1px solid #000; border-radius: 5px; padding: 2%; margin-top: 2%; margin-bottom: 2%;">
                <h4 class="list-group-item-heading"> <img src="../@item.FriendReceived.Image" style="width: 5%;" /><b>@Html.ActionLink(item.FriendReceived.UserName.ToUpper(), "ViewProfile", "Search", new { username = item.FriendReceived.UserName }, htmlAttributes: new { @class = "btn btn-link" })</b></h4>
                <h5 class="list-group-item-heading">@item.FriendReceived.Firstname.ToUpper() @item.FriendReceived.Lastname.ToUpper() </h5>

            </div>
        }

    }
</div>



