@model DatingSida.Models.ViewModel.AllUsersProfilesViewModel

@{
    ViewBag.Title = "Visar profiler";
}
<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<h2>Visa profiler</h2>
<div class="d-flex justify-content-left h-100" style="max-width:100%">
    <div class="searchbar">
        <input class="search_input" id="srcProfiles" type="text" name="" placeholder="Sök efter användarnamn...">
    </div>
</div>

<div class="col-lg-12" style="max-width:100%">
    <table class="table">
        <tr>
            <th>Bild</th>
            <th>Användarnamn</th>
            <th>För- och Efternamn</th>
            <th>Beskrivning</th>
        </tr>
        @foreach (var item in Model.Users)
        {
            <tr class="removeData">
                <td class="removeData"><img src="@item.Image" class="img-circle" style="width: 10%; max-width: 100px; max-height: 100px; min-width: 50px; min-height: 50px;" /></td>
                <td class="removeData">@item.UserName</td>
                <td class="removeData">@item.Firstname @item.Lastname</td>
                <td class="removeData">@item.Description.Substring(0, 15) .....</td>
                <td class="removeData">@Html.ActionLink("Besök", "ViewProfile", new { username = item.UserName }, htmlAttributes: new { @class = "btn btn-primary" })</td>
            </tr>
        }
    </table>
</div>
<hr />
@section Scripts{
    <script>
        var items = null;
        $(document).ready(function () {

            $.get("/api/search/users",
                function (data) {
                    items = data;
                    //alert(items.length);
                })

            $("#srcProfiles").on("keyup", function () {
                $(".removeData").remove();
                var text = $("#srcProfiles").val();
                if (text == "") {
                    for (var i = 0; i < items.length; i++) {
                        $("table").append(
                            "<tr class='removeData'><td class='removeData'><img src='" + items[i].Image + "' class='img-circle' style='width: 10%; max-width: 100px; max-height: 100px; min-width: 50px; min-height: 50px;' /></td><td class='removeData'>" + items[i].UserName + "</td><td class='removeData'>" + items[i].Firstname + " " + items[i].Lastname + "</td><td class='removeData'>" + items[i].Description.substring(0, 15) + "...</td><td class='removeData'><a class='btn btn-primary' href=" + "/Search/ViewProfile?username=" + items[i].UserName + "> Besök</a ></td ></tr >"
                        );
                    }
                } else {
                    for (var i = 0; i < items.length; i++) {
                        if (items[i].UserName.startsWith(text)) {
                            $("table").append(
                                "<tr class='removeData'><td class='removeData'><img src='" + items[i].Image + "' class='img-circle' style='width: 10%; max-width: 100px; max-height: 100px; min-width: 50px; min-height: 50px;' /></td><td class='removeData'>" + items[i].UserName + "</td><td class='removeData'>" + items[i].Firstname + " " + items[i].Lastname + "</td><td class='removeData'>" + items[i].Description.substring(0, 15) + "...</td><td class='removeData'><a class='btn btn-primary' href=" + "/Search/ViewProfile?username=" + items[i].UserName + "> Besök</a ></td ></tr >"
                            );
                        }
                    }

                }
            });
        });

    </script>


}

