@model DatingSida.Models.ViewModel.UserMessageViewModel
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Min profil";
}

<style>
    #request {
        color: gray;
    }
</style>

<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<div class="container" style="padding-left: 10%;">
    <h2>Min Profil</h2>
    <div class="col-md-5">
        <img src="../@Model.Image" class="img-responsive" style="width: 20%; max-height: 400px; min-height: 200px; max-width: 400px; min-width: 200px; " />
    </div>
    <div class="col-md-7">
        <div class="row">
            <h2>@Model.Firstname @Model.Lastname</h2>
            <h4>@Model.Username</h4>
            <p class="text">@Model.Description</p>
            @if (!Model.IsFriends && !Model.HasRequest)
            {
                <button class="btn btn-success" id="friendRequest">Skicka Vänförfrågan</button>
            }

            @if (!Model.IsFriends && Model.HasRequest)
            {
                <p id="request"> Väntar svar på vänförfrågan...</p>
            }
          

            <button class="btn btn-danger" id="goodfit">Passar vi ihop?</button>

        </div>
    </div>
</div>
<br />


<div class="col-md-10 center-block">
    <h2 class="text-center"> Min vägg</h2>
    <div class="form-group center-block">
        <textarea id="textarea" cols="50" rows="3" class="form-control center-block" placeholder="Skriv ditt meddelande..."></textarea>
        <button id="send-message" class="btn btn-block btn-primary" style="margin-top: 2%;">Skicka</button>
    </div>
</div>
<hr />
<div class="container">

    @if (Model.MessagesReceived != null && Model.MessagesReceived.Count > 0)
    {
        foreach (var item in Model.MessagesReceived)
        {
            <div class="list-group-active col-lg-10 center-block" style="border: 2px solid #000; border-radius: 5px; padding: 2%; margin-top: 2%; margin-bottom: 2%;">
                <h4 class="list-group-item-heading">@item.Sender.UserName</h4>
                <h6 class="list-group-item-info">@item.Sender.Firstname @item.Sender.Lastname </h6>
                <h6 class="list-group-item-info">@item.DateSent</h6>
                <p class="list-group-item-text">@item.Post</p>
            </div>
        }

    }

</div>

<hr />
@section Scripts{
    <script>
        $("#send-message").on("click", function () {
            var text = $("#textarea").val();
            $.ajax({
                url: "/api/message/send",
                type: "Post",
                data: JSON.stringify(["@User.Identity.GetUserId()", "@Model.ReceiverId", text]),
                contentType: "application/json; charset=utf-8",
                success: function () {
                    $("#show").show();
                    $("#message-id").append("Meddelandet har skickats!")
                },
                error: function () {
                    $("#show").show();
                    $("#message-id").append("Meddelandet måste vara längre än 3 tecken och mindre än 400 tecken")
                }
            })
        });
        $("#close").on("click", function () {
            $("#show").hide();
            location.reload();
        })
        $("#friendRequest").on("click", function () {
        
            $.ajax({
                url: "/api/request/send",
                type: "Post",
                data: JSON.stringify(["@User.Identity.GetUserId()", "@Model.ReceiverId"]),
                contentType: "application/json; charset=utf-8",
                success: function () {
                    $("#show").show();
                    $("#message-id").append("Förfrågan har skickats!")
                },
                error: function () {
                    $("#show").show();
                    $("#message-id").append("Något har gått fel!")
                }
            })
        });
    </script>

}
